{% extends 'base.html.twig' %}

{% block title %}Manage account -
{% endblock %}

{% block body %}
  <div class="container" id="content">
    <div class="row">
      <div class="col-md-6 offset-md-3 forms">
        <h2>Manage Account</h2>
        <div class="form">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          <div class="form-group col-md-6 offset-md-3 col-10 offset-1">
            {{ form_label(form.username, 'Username') }}
            {{ form_widget(form.username) }}
          </div>
          <div class="form-group col-md-6 offset-md-3 col-10 offset-1">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email) }}
          </div>
          <div class="form-group col-md-6 offset-md-3 col-10 offset-1">
            {{ form_label(form.password, 'Password') }}
            {{ form_widget(form.password) }}
          </div>
          <div class="form-group col-md-6 offset-md-3 col-10 offset-1">
            {{ form_widget(form.userPhoto) }}
          </div>
          <div class="form-group col-md-6 offset-md-3 col-10 offset-1">
            <input type="submit" class="form-control btn btn-primary" value="Create account">
          </div>
        </div>
        {{ form_end(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}